
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Course</a></li>
                        <li class="breadcrumb-item active">Course Göster</li>
                    </ol>
                </div>
                <h4 class="page-title">Course Göster</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">Course Göster</h4>
                    <!--
                    <p class="text-muted mb-0">
                        Use <code>.table-striped</code> to add zebra-striping to any table row
                        within the <code>&lt;tbody&gt;</code>.
                    </p>
                    -->
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Kurs Adı</th>
                                    <th>Eğitmen Adı</th>
                                    <th>Kurs Süresi</th>
                                    <th>Kurs Kontenjanı</th>
                                    <th>Kategori Id</th>
                                    <th>Kurs Fotoğrafı</th>
                                    <th style="text-align: right;">Güncelle / Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Backend</td>
                                    <td>Metin Öğet</td>
                                    <td>2</td>
                                    <td>30</td>
                                    <td>1</td>
                                    <td class="table-user">
                                        <img src="~/velonic/assets/images/users/avatar-2.jpg" alt="table-user"
                                             class="me-2 rounded-circle" />
                                    </td>
                                    <td style="text-align: right;">
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-settings-3-line"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-delete-bin-2-line"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Frontend</td>
                                    <td>Metin Öğet</td>
                                    <td>2</td>
                                    <td>30</td>
                                    <td>1</td>
                                    <td class="table-user">
                                        <img src="~/velonic/assets/images/users/avatar-2.jpg" alt="table-user"
                                             class="me-2 rounded-circle" />
                                    </td>
                                    <td style="text-align: right;">
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-settings-3-line"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-delete-bin-2-line"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Yapay Zeka</td>
                                    <td>Metin Öğet</td>
                                    <td>2</td>
                                    <td>30</td>
                                    <td>1</td>
                                    <td class="table-user">
                                        <img src="~/velonic/assets/images/users/avatar-2.jpg" alt="table-user"
                                             class="me-2 rounded-circle" />
                                    </td>
                                    <td style="text-align: right;">
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-settings-3-line"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-delete-bin-2-line"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Web</td>
                                    <td>Metin Öğet</td>
                                    <td>2</td>
                                    <td>30</td>
                                    <td>1</td>
                                    <td class="table-user">
                                        <img src="~/velonic/assets/images/users/avatar-2.jpg" alt="table-user"
                                             class="me-2 rounded-circle" />
                                    </td>
                                    <td style="text-align: right;">
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-settings-3-line"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-delete-bin-2-line"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->


    </div>
    <!-- end row-->


</div> <!-- container -->
