@model List<SkillsDto>
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Skills</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Skills</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Skills Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            @foreach(var item in Model)
            {
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" id =@item.SkillId>
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x text-primary mb-4"><img src="~/assets/img/@item.SkillImage"/></i>
                            <h5 class="mb-3">@item.SkillTitle</h5>
                            <p>@item.SkillDescription</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>