
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">GetInTouch</a></li>
                        <li class="breadcrumb-item active">GetInTouch Ekle</li>
                    </ol>
                </div>
                <h4 class="page-title">GetInTouch Ekle</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">GetInTouch</h4>
                    <!--<p class="text-muted mb-0">
                        Most common form control, text-based input fields. Includes support for all
                        HTML5 types: <code>text</code>, <code>password</code>, <code>datetime</code>,
                        <code>datetime-local</code>, <code>date</code>, <code>month</code>,
                        <code>time</code>, <code>week</code>, <code>number</code>, <code>email</code>,
                        <code>url</code>, <code>search</code>, <code>tel</code>, and <code>color</code>.
                    </p>-->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form>
                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Header Başlığı</label>
                                    <input type="text" id="simpleinput" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Header Açıklaması</label>
                                    <input type="text" id="simpleinput" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="example-fileinput" class="form-label">Header Fotoğrafı</label>
                                    <input type="file" id="example-fileinput" class="form-control">
                                </div>
                                <div style="text-align: right;">
                                    <button type="submit" class="btn btn-primary">Ekle</button>
                                </div>
                            </form>
                        </div> <!-- end col -->


                    </div>
                    <!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->



</div> <!-- container -->
