<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Contact</a></li>
                        <li class="breadcrumb-item active">Contact Göster</li>
                    </ol>
                </div>
                <h4 class="page-title">Contact Göster</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">Contact Göster</h4>
                    <!--
                    <p class="text-muted mb-0">
                        Use <code>.table-striped</code> to add zebra-striping to any table row
                        within the <code>&lt;tbody&gt;</code>.
                    </p>
                    -->
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Kurs Ad</th>
                                    <th>Kurs Açıklaması</th>
                                    <th>Kurs Konumu</th>
                                    <th>Kurs Süresi</th>
                                    <th>Kurs Id</th>
                                    <th>Kategori Id</th>
                                    <th style="text-align: right;">Güncelle / Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Risa D. Pearson</td>
                                    <td>Kurs Açıklaması</td>
                                    <td>Kurs Konumu</td>
                                    <td>Kurs Süresi</td>
                                    <td>AC336 508 2157</td>
                                    <td>AC336 508 2157</td>
                                    <td style="text-align: right;">
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-settings-3-line"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-delete-bin-2-line"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ann C. Thompson</td>
                                    <td>Kurs Açıklaması</td>
                                    <td>Kurs Konumu</td>
                                    <td>Kurs Süresi</td>
                                    <td>AC336 508 2157</td>
                                    <td>SB646 473 2057</td>
                                    <td style="text-align: right;">
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-settings-3-line"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-delete-bin-2-line"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Paul J. Friend</td>
                                    <td>Kurs Açıklaması</td>
                                    <td>Kurs Konumu</td>
                                    <td>Kurs Süresi</td>
                                    <td>AC336 508 2157</td>
                                    <td>DL281 308 0793</td>
                                    <td style="text-align: right;">
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-settings-3-line"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-delete-bin-2-line"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sean C. Nguyen</td>
                                    <td>Kurs Açıklaması</td>
                                    <td>Kurs Konumu</td>
                                    <td>Kurs Süresi</td>
                                    <td>AC336 508 2157</td>
                                    <td>CA269 714 6825</td>
                                    <td style="text-align: right;">
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-settings-3-line"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="text-reset fs-16 px-1">
                                            <i class="ri-delete-bin-2-line"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div> <!-- end row-->
</div> <!-- container -->
<!-- Theme Settings -->
