<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>eLEARNING</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a asp-action="Index" asp-controller="Home" class="nav-item nav-link active">Home</a>
            <a asp-action="Index" asp-controller="Aboute" class="nav-item nav-link">About</a>
            <a asp-action="Index" asp-controller="Courses" class="nav-item nav-link">Courses</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu fade-down m-0">
                    <a asp-action="Index" asp-controller="Teams" class="dropdown-item">Our Team</a>
                    <a asp-action="Index" asp-controller="Testimonial" class="dropdown-item">Testimonial</a>
                </div>
            </div>
            <a asp-action="Index" asp-controller="Contact" class="nav-item nav-link">Contact</a>
        </div>
    </div>
</nav>