
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">WelcomeInformation</a></li>
                        <li class="breadcrumb-item active">WelcomeInformation Ekle</li>
                    </ol>
                </div>
                <h4 class="page-title">WelcomeInformation Ekle</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">WelcomeInformation</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="/WelcomeInformation/AddWelcomeInformationPost" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Başlık</label>
                                    <input type="text" id="simpleinput" name="WelcomeInformationTitle" class="form-control">
                                </div><div class="mb-3">
                                    <label for="simpleinput" class="form-label">Başlık(En)</label>
                                    <input type="text" id="simpleinput" name="WelcomeInformationTitleEn" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Açıklama</label>
                                    <input type="text" id="simpleinput" name="WelcomeInformationDescription" class="form-control">
                                </div><div class="mb-3">
                                    <label for="simpleinput" class="form-label">Açıklama(En)</label>
                                    <input type="text" id="simpleinput" name="WelcomeInformationDescriptionEn" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="example-fileinput" class="form-label">Fotoğraf</label>
                                    <input type="file" id="example-fileinput" name="image" class="form-control">
                                </div>

                                <div style="text-align: right;">
                                    <button type="submit" class="btn btn-primary">Ekle</button>
                                </div>
                            </form>
                        </div> <input value="@ViewBag.Message" id="bag" style="display:none;" /><!-- end col -->
                    </div><!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
</div> <!-- container -->

<script>
    var data = document.getElementById("bag").value;
    console.log("DATA " + data);
    if (data == "Başarılı") {
        swal("WelcomeInformation Başarıyla Eklendi", {
            icon: "success",
            button: "Tamam!",
        });
    } else if (data == "Başarısız") {
        swal("Hata oluştu daha sonra tekrar deneyin!", {
            icon: "error",
            button: "Tamam!",
        });
    }
</script>