@model CoursesCategoriesDto
<link href="~/assets/css/coursesdetilscss/coursesdetailscss.css" rel="stylesheet" />
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Category Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- product section -->
<div class="container-xxl py-5">
        <!-- left side -->
        <div class="img-card">
            <img src="~/assets/img/coursesdetailsimages/image-1.png" alt="" id="featured-image">
            <!-- small img -->
            <div class="small-Card">
                <img src="~/assets/img/coursesdetailsimages/image-1.png" alt="" class="small-Img">
                <img src="~/assets/img/coursesdetailsimages/small-img-2.png" alt="" class="small-Img">
                <img src="~/assets/img/coursesdetailsimages/small-img-3.png" alt="" class="small-Img">
                <img src="~/assets/img/coursesdetailsimages/image-1.png" alt="" class="small-Img">
            </div>
        </div>
        <!-- Right side -->
        <div class="product-info">
            <h3>LEVI'S® WOMEN'S XL TRUCKER JACKET</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusantium, aspernatur provident beatae corporis veniam atque facilis, consequuntur assumenda, vitae dignissimos iste exercitationem dolor eveniet alias eos ullam nesciunt voluptatum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore accusamus natus dolorum. Quaerat nulla quod doloremque, officia quis provident amet adipisci unde esse iure delectus, maxime inventore optio fuga nisi?</p>

        </div>
</div>
<!-- script tags -->
<script src="~/assets/js/coursesdetailsjs/cart.js"></script>