
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">GetInTouch</a></li>
                        <li class="breadcrumb-item active">GetInTouch Ekle</li>
                    </ol>
                </div>
                <h4 class="page-title">GetInTouch Ekle</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">GetInTouch</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form method="post" action="/HeaderClient/AddHeaderClientPost" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="HeaderTitle">Başlık(TR)</label>
                                    <input type="text" class="form-control" id="HeaderTitle" name="HeaderTitle">
                                </div>
                                <div class="mb-3">
                                    <label for="HeaderTitleEn">Başlık(En)</label>
                                    <input type="text" class="form-control" id="HeaderTitleEn" name="HeaderTitleEn">
                                </div>
                                <div class="mb-3">
                                    <label for="HeaderDescription">Açıklama(TR)</label>
                                    <textarea class="form-control" id="HeaderDescription" name="HeaderDescription"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="HeaderDescriptionEn">Açıklama(En)</label>
                                    <textarea class="form-control" id="HeaderDescriptionEn" name="HeaderDescriptionEn"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="image">Fotoğraf</label>
                                    <input type="file" class="form-control" id="image" name="headerImage">
                                </div>
                                <div style="text-align: right;">
                                    <button type="submit" class="btn btn-primary">Ekle</button>
                                </div>
                            </form>
                        </div> <!-- end col -->
                    </div> <!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
</div> <!-- container -->
